<div class="sidebar">

    <div class="sidebar__header">
        <a class="sidebar__logo">
            <img src="assets/images/logo-plexus.png">
        </a>
    </div>

    <nav class="sidebar__content">
        <ul>
            <li class="intro-x">
                <a (click)="goHome()">
                    <span>
                        <i class="pi pi-home mr-2"></i>
                    </span>
                    <span>Dashboard</span>
                </a>
            </li>
            <li class="intro-x">
                <a (click)="goProjects()">
                    <span>
                        <i class="pi pi-folder mr-2"></i>
                    </span>
                    <span>Proyectos</span>
                </a>
            </li>
            <li class="intro-x">
                <a (click)="goEventLogs()">
                    <span>
                        <i class="pi pi-file mr-2"></i>
                    </span>
                    <span>Event Logs</span>
                </a>
            </li>
            
            <li class="intro-x">
                <a (click)="goEvaluation()">
                    <span>
                        <i class="pi pi-file mr-2"></i>
                    </span>
                    <span>Evaluación</span>
                </a>
            </li>
        </ul>
    </nav>

</div>