<div class="work-items col-12">
  <p-treeTable
    [value]="workItems"
    [scrollable]="true"
    [tableStyle]="{ 'min-width': '50rem' }"
  >
    <ng-template pTemplate="header">
      <tr>
        <th>Id</th>
        <th>Tipo</th>
        <th>Titulo</th>
        <th>Estado</th>
        <th>Area</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowNode let-rowData="rowData">
      <tr [ttRow]="rowNode">
        <td>
          <p-treeTableToggler [rowNode]="rowNode" />
          {{ rowData.id }}
        </td>
        <td>{{ rowData.workItemType }}</td>
        <td>{{ rowData.title }}</td>
        <td>{{ rowData.state }}</td>
        <td>{{ rowData.valueArea }}</td>
      </tr>
    </ng-template>
  </p-treeTable>
</div>
