<div class="grid">
  <h2 class="col-6">Proyectos</h2>
  <div class="col-6 align-self-center text-right">
    <p-button severity="primary" label="Registrar" (onClick)="createProject()"/>
  </div>

  <div class="col-12">
    <p-table
      [value]="projects"
      [paginator]="true"
      [rows]="5"
      [tableStyle]="{ 'min-width': '50rem' }"
    >
      <ng-template pTemplate="header">
        <tr>
          <th>Id</th>
          <th>Titulo</th>
          <th>Descripción</th>
          <th>Estado</th>
          <th>Opciones</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-project>
        <tr>
          <td>{{ project.id }}</td>
          <td>{{ project.title }}</td>
          <td>{{ project.description }}</td>
          <td>
            <p-tag value="Activo" severity="success" />
          </td>
          <td>
            <p-button
              icon="pi pi-pencil"
              pTooltip="Editar Proyecto"
              [rounded]="true"
              class="mr-2"
              severity="success"
              (onClick)="editProject(project.id)"
            />
            <p-button
              icon="pi pi-file-import"
              pTooltip="Generar Factura"
              [rounded]="true"
              class="mr-2"
              severity="info"
              (onClick)="generateInvoice(project.id)"
            />
            <p-button
              icon="pi pi-eye"
              pTooltip="Ver Backlog"
              [rounded]="true"
              severity="help"
              (onClick)="viewWorkItems(project.id)"
            />
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>
