.layout {
    display: flex;
    flex: 1 1 auto;
    min-height: 100%;
    flex-direction: column;

    &__content {
        display: flex;
        flex: 1 1 auto;
        flex-direction: column;

        background: #f1f5f9;

        @media (min-width: 1200px) {
            padding-left: 300px;

        }
    }

    & main {
        padding: 40px;
    }
}