<div class="grid">
  <div class="col-12">
    <h2>Tareas</h2>
    <p-table
      [value]="tasks"
      [paginator]="true"
      [rows]="5"
      [tableStyle]="{ 'min-width': '60rem' }"
    >
      <ng-template pTemplate="header">
        <tr>
          <th>Id</th>
          <th>Tarea</th>
          <th>Fecha de Creación</th>
          <th>Responsable</th>
          <th>Estado</th>
          <th>Opciones</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-task>
        <tr>
          <td>{{ task.id }}</td>
          <td>{{ task.title }}</td>
          <td>{{ task.createdDate | date : "dd/MM/yyyy"  }}</td>
          <td>{{ task?.assignedTo?.firstName }}</td>
          <td>
            <p-badge [value]="task.state" severity="success" />
          </td>
          <td>
            <p-button
              icon="pi pi-search"
              [rounded]="true"
              [text]="true"
              severity="success"
            />
            <p-button
              icon="pi pi-user"
              [rounded]="true"
              [text]="true"
              severity="info"
            />
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>